* {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="button"] {
  border-radius: 0 !important; }

ul, ol, dl {
  margin-left: 0;
  margin-bottom: 0; }

a {
  color: #364052; }
  a:hover {
    color: #090909; }

#wpwrap {
  background: #F2F2F2; }

#wpcontent {
  background: white; }
  #wpcontent #wpbody #wpbody-content {
    padding-bottom: 0; }
    #wpcontent #wpbody #wpbody-content > * {
      margin-left: 40px; }
    #wpcontent #wpbody #wpbody-content .wrap {
      margin: 50px 0 0;
      padding: 25px 40px 65px;
      background: #F2F2F2; }
      #wpcontent #wpbody #wpbody-content .wrap .nav-tab-wrapper {
        width: 100%;
        margin-left: -40px;
        margin-bottom: 25px;
        padding-left: 40px;
        padding-right: 40px;
        background: white;
        border-bottom: 0; }
        #wpcontent #wpbody #wpbody-content .wrap .nav-tab-wrapper .nav-tab {
          margin: 0;
          padding: 0 12px 6px;
          border: none;
          background: none; }
          #wpcontent #wpbody #wpbody-content .wrap .nav-tab-wrapper .nav-tab.nav-tab-active, #wpcontent #wpbody #wpbody-content .wrap .nav-tab-wrapper .nav-tab:hover {
            border-bottom: 3px solid #4BA0D9;
            background: transparent; }

#wpfooter {
  margin-left: 220px; }

#message {
  margin: 15px 0;
  border: thin solid #A1ACBF; }

.updated {
  border-left: 4px solid #7ad03a; }

.update-nag {
  display: none; }

.update-plugins {
  width: 5px;
  height: 5px;
  border-radius: 100% !important;
  color: transparent;
  vertical-align: middle !important;
  margin: 0 !important;
  margin-left: 5px !important; }
  .update-plugins * {
    color: transparent; }

.wp-list-table tbody tr {
  background: white !important; }
  .wp-list-table tbody tr > * {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
    border-bottom: thin solid #F2F2F2; }

.woocommerce_options_panel .short,
.woocommerce_options_panel textarea {
  width: 100% !important; }

.woocommerce_options_panel textarea {
  height: 10em !important; }

img.help_tip {
  margin: 0 0 0 5px !important; }

.button {
  height: 30px !important;
  line-height: 30px !important;
  border: none !important;
  box-shadow: none !important;
  background: #e0e0e0 !important;
  border-radius: 2px !important; }
  .button:hover {
    background: #c0c0c0 !important; }
  .button.button-primary {
    background: #4BA0D9 !important; }
    .button.button-primary:hover {
      background: #3F89B2 !important; }

#wpadminbar {
  background: #242B37; }

#adminmenuback,
#adminmenuwrap,
#adminmenu {
  width: 180px;
  z-index: 100;
  background: #364052;
  border-right: none; }

#adminmenuwrap * {
  transition-delay: 0;
  transition-duration: 0;
  transition-property: none;
  transition-timing-function: 0; }
#adminmenuwrap ul#adminmenu {
  margin: 0; }
  #adminmenuwrap ul#adminmenu li a {
    padding: 5px 2px !important; }
    #adminmenuwrap ul#adminmenu li a:after {
      display: none; }
    #adminmenuwrap ul#adminmenu li a .wp-menu-image:before {
      color: white; }
    #adminmenuwrap ul#adminmenu li a .wp-menu-name {
      padding-right: 0;
      color: white; }
  #adminmenuwrap ul#adminmenu li:after {
    display: none; }
  #adminmenuwrap ul#adminmenu li.current a, #adminmenuwrap ul#adminmenu li.wp-has-current-submenu a {
    background: #4BA0D9; }
    #adminmenuwrap ul#adminmenu li.current a .wp-menu-name, #adminmenuwrap ul#adminmenu li.wp-has-current-submenu a .wp-menu-name {
      font-weight: bold;
      color: white; }
  #adminmenuwrap ul#adminmenu li.wp-not-current-submenu ul.wp-submenu {
    left: 180px; }
  #adminmenuwrap ul#adminmenu li.wp-has-submenu ul.wp-submenu {
    width: 180px;
    background: #242B37; }
    #adminmenuwrap ul#adminmenu li.wp-has-submenu ul.wp-submenu li {
      padding: 0px 10px; }
      #adminmenuwrap ul#adminmenu li.wp-has-submenu ul.wp-submenu li a {
        padding: 6px 12px;
        color: #A1ACBF;
        background: transparent; }
        #adminmenuwrap ul#adminmenu li.wp-has-submenu ul.wp-submenu li a.current {
          color: white; }
        #adminmenuwrap ul#adminmenu li.wp-has-submenu ul.wp-submenu li a:hover {
          color: white; }
  #adminmenuwrap ul#adminmenu li:hover a, #adminmenuwrap ul#adminmenu li:focus a {
    color: white;
    background: #4BA0D9; }
  #adminmenuwrap ul#adminmenu li.wp-menu-separator {
    height: 1px;
    margin: 0;
    background: #242B37; }
