$white: rgb(255,255,255); //#fff
$black: rgb(9,9,9); //#09009
$grey-dark: #364052; //#C7C7C7
$grey: #A1ACBF; //#F2F2F2
$grey-light: #F2F2F2;
$blue: #4BA0D9; //#364052
$blue-medium: #3F89B2;
$blue-dark: #242B37; //#1B212B