input,
select{
  box-shadow: none !important;
}

input[type="search"]{
  height: 26px !important;
  margin-right: 5px !important;
  
  box-shadow: none !important;
  border-radius: 3px !important;
}

// Tag input
input[type="text"].newtag{
  height: 26px !important;
}